.product-item {
  display: flex;
  flex-direction: row;
  max-width: 800px;
  margin: 20px 0;

  &_tittle{
    margin: 10px 0;
    a{
      text-decoration: none;
      color: black;
      cursor: pointer;
    }
  }

  &_availability {
    h4 {
      display: inline-block;
      margin-right: 5px;
    }

    p {
      display: inline-block;
    }
  }

  &_description{
    margin: 15px 0;
    a{
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
    small{
      font-size: 1rem;
      color: #102684;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
        color: #3f51b5;
      }
    }
  }

  &_buttons {
    margin-top: 10px;

    &_addtowishlist {
      cursor: pointer;
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 144px;
    }
  }
}